.Button {
  color: #666666;
  background-color: transparent;
  display: inline-block;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  font-weight: bold;
  padding: 12px;
  margin-top: 10px;
  font-size: 20px;
  width: 80%;
  align-self: center;
}

.Button:hover {
  border: none;
  background-color: rgba(127, 146, 255, 0.2);
}